* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.anotherClass{
  list-style-type: none;
  width: fit-content;
  border: 3px solid black;
  margin: auto;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid violet;
  width: 300px;
  margin:10px  auto;
}