h1 {
  position: relative;
  z-index: 2;
  left: 150px;
  top: -1000px;
  font-style: oblique;
  font-size: 80px;
}
.logo img {
  position: relative;
  z-index: 2;
  left: 230px;
  top: -1000px;
  width: 350px;
}
.detail {
  position: relative;
  z-index: 2;
  left: 150px;
  top: -900px;
font-size: 35px;
font-weight: 900;
}
