/* style.module.css */
.nav {
  background-color: #f5f5f5;
  padding: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navItem {
  text-decoration: none;
  color: #333;
}
h2{
  color: crimson;
}