* {
  margin: 0;
  padding: 0;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  div {
    border: 15px solid black;
    text-align: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: none;
  }
}
img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 2px;
}
p {
  color: blue;
}
