#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(110, 105, 236);
  padding: 15px;
  margin-bottom: 50px;
}
#navbar > a {
  color:white;
  font-weight: bold;
  text-decoration: none;
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  margin: auto;
}

#container > div {
  border: 2px solid rgb(89, 237, 52);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 10px;
}
