.box1 {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0px auto;
  background: linear-gradient(to left, red, blue);
  margin-bottom: 10px;
   font-size: 50px;
}

.box1 button {
  font-size: 21px;
  margin: 5px;
  width: 100px;
  height: 50px;
}
/* ------------------------------------- */
.box2 {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0px auto;
  background: linear-gradient(to left, red, blue);
  font-size: 50px;
}
.box2 button {
  font-size: 16px;
  margin: 5px;
  width: 100px;
  height: 50px;
}