#navbar{
    background-color: teal;
    padding: 20px; 
    display: flex;
    justify-content: space-around;
 }
 #navbar a{
     text-decoration: none;
     color: white;
     font-size: 25px;
 }
 #container{
     width: 90%;
     margin: auto;
     border: 2px solid red;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
 }

 #container > div{
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     border-radius: 10px;
     text-align: center;
 }
 h1{
     text-align: center;
 }