<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codepen about page modern</title>
    <link rel="stylesheet" href="../stylesheets/about.css" />
  </head>
 
  <body>
    <!--===== ABOUT =====-->
    <%= anyName%>
    <section class="about section bd-container" id="about">
      <span class="section-subtitle">My history</span>
      <h2 class="section-title">About me</h2>

      <div class="about__container bd-grid">
        <div class="about__data bd-grid">
          <p class="about__description">
            <span>Hello, I am <br /></span>Freelance frontend developer, I am passionate about creating and developing web interfaces. With years of experience
            in web design and development.
          </p>

          <div>
            <span class="about__number">05</span>
            <span class="about__achievement">Years off Experience</span>
          </div>

          <div>
            <span class="about__number">29+</span>
            <span class="about__achievement">Projects completes</span>
          </div>

          <div>
            <span class="about__number">07</span>
            <span class="about__achievement">Best work awards</span>
          </div>
        </div>

        <img
          src="https://images.unsplash.com/photo-1579591919791-0e3737ae3808?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMwMzY1NzZ8&ixlib=rb-4.0.3&q=85"
          alt=""
          class="about__img"
        />
      </div>
    </section>
  </body>
</html>
